@import "tailwindcss";

@layer base {

  /*
    The default border color has changed to `currentColor` in Tailwind CSS v4,
    so we've added these compatibility styles to make sure everything still
    looks the same as it did with Tailwind CSS v3.

    If we ever want to remove these styles, we need to add an explicit border
    color utility to any element that depends on these defaults.
  */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* caption {
    @apply font-light;
  }

  table {
    @apply border-collapse border-2;
  }

  td {
    @apply border-2 w-8 h-12 text-center;
  }

  th {
    @apply border-2 w-6 h-6;
  }
}

@layer components {
  .bg-camp-icon {
    @apply block m-auto w-6 h-6;
  }

  .bg-suit-icon {
    @apply block m-auto w-6 h-6;
  }

  .bg-hero-icon {
    @apply block m-auto w-6 h-6;
  }

  .bg-tavern-icon {
    @apply block m-auto w-6 h-6;
  }

  .bg-card {
    @apply block m-auto text-xl text-white w-8 h-12;
    line-height: 48px;
  }

  .bg-hero {
    @apply block m-auto text-xl text-white w-8 h-12;
    line-height: 48px;
  }

  .bg-camp {
    @apply block m-auto text-xl text-white w-8 h-12;
    line-height: 48px;
  }

  .bg-mythological-creature {
    @apply block m-auto text-xl text-white w-8 h-12;
    line-height: 48px;
  }

  .bg-royal-offering {
    @apply block m-auto text-xl text-white w-8 h-12;
    line-height: 48px;
  }

  .bg-coin {
    @apply rounded-full inline-flex items-center justify-center self-center w-10 h-10;
  }

  .bg-small-coin {
    @apply rounded-full inline-flex items-center justify-center self-center w-8 h-8;
  }

  .bg-hero-inactive {
    @apply block m-auto text-xl text-white opacity-50 w-8 h-12;
    line-height: 48px;
  }

  .bg-mythological-creature-inactive {
    @apply block m-auto text-xl text-white opacity-50 w-8 h-12;
    line-height: 48px;
  }

  .bg-market-coin {
    @apply rounded-full inline-flex items-center justify-start w-10 h-10 font-bold p-0.5;
  }

  .bg-priority {
    @apply block m-auto w-8 h-10;
    transform: rotate(180deg);
  }

  .bg-priority-icon {
    @apply block m-auto w-8 h-6;
  }

  .bg-small-market-coin {
    @apply rounded-full block m-auto w-6 h-6;
  }

  .bg-suit-distinction {
    @apply block m-auto w-8 h-12;
  }

  .bg-top-distinctions-icon {
    @apply inline-block w-3 h-4;
  }

  .bg-top-market-coin-icon {
    @apply rounded-full inline-block w-6 h-6;
  }

  .bg-top-tavern-icon {
    @apply inline-block w-6 h-6;
  }

  .bg-top-hero-icon {
    @apply inline-block w-6 h-6;
  }

  .bg-top-camp-icon {
    @apply inline-block w-6 h-6;
  }

  .bg-top-card-back-icon {
    @apply inline-block w-6 h-6;
  }

  .bg-top-camp-back-icon {
    @apply inline-block w-6 h-6;
  }

  .log {
    height: 800px;
  } */

  /* .block-center {
    @apply block m-auto;
  } */

  /* .inline-flex-center {
    @apply inline-flex items-center justify-center self-center;
  } */
}
